body{
    background: linear-gradient(135deg,#ff0000, #ffffff);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
*{
    box-sizing: border-box;
}
#search_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
input[type="text"]{
    padding: 10px;
    width: 300px;
    border: 2px solid rgb(49, 0, 0);
    border-radius: 8px;
    background: rgb(255, 116, 116);
    color: #222;
    font-size: 18px;
}
input::placeholder{
    color: rgba(255,255,255,0.8);
}
#result_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    font-size: 18px;
    background: rgba(255, 215, 215, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
button{
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid rgb(49, 0, 0);
    border-radius: 8px;
    background: rgb(255, 116, 116);
    color: #222;
    cursor: pointer;
}
button:hover{
    transform: scale(1.05);
}
#pokemon_image{
    width: 200px;
    transition: 0.3s;
}
#pokemon_image:hover{
    transform: scale(1.1);
}
